body{
	background-color:rgba(0,0,0,0.8);
}
canvas{
    display:none;
}
#runtime canvas{
    display: block;
	position:absolute;
	left:0;
	right:0;
	bottom:0;
	top:0;
	margin:auto;
	width: 1280px;
	height:720px;
}